
SportsTalk_iOS_SDK/SportsTalk_iOS_SDK.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SportsTalk_iOS_SDK/SportsTalk_iOS_SDK.xcodeproj/project.xcworkspace/xcuserdata/angelo.lesano.xcuserdatad/UserInterfaceState.xcuserstate
SportsTalk_iOS_SDK/SportsTalk_iOS_SDK.xcodeproj/xcuserdata/angelo.lesano.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
